
body {
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 50px;
	background-color: #dfe6e9;
}

.panel-heading {
	background-color: :#b2bec3 !important;
	font-size: 20px;
}

#canvas {
	transform: rotate(180deg) scaleX(-1);
	background:linear-gradient(180deg, #c8d6e5 10%, #48dbfb 90%);
	width: 100%;
	height: 300px;
}